<app-master-sidebar></app-master-sidebar>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!--- middle content ------>
    <!-- Main content -->
    <section class="content based-form">
        <div id="myWizard" class="mybasicform_blk">
            <!--- new add rolle -->
            <div class="col-md-12">
                <div class="content-header">
                    <div class="align-items-center">
                        <div class="mr-auto">
                            <h3 class="page-title">Dropdown Management</h3>
                            <div class="d-inline-block align-items-center">
                                <nav>
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">Dropdown Management</li>
                                    </ol>
                                </nav>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!-- Basic Forms -->
                <div class="box">
                    <h4 class="box-title">Add Dropdown</h4>
                    <!-- /.box-header -->
                    <form>
                        <div class="box-body">
                            <div class="first_blk_line form-element">
                                <div class="form-row">
                                    <div class="form-group col-3 col-md-3">
											<mat-form-field>
													<mat-label>Type</mat-label>
													<mat-select placeholder="Select">
															<mat-option value="Account Type"> Account Type </mat-option>
															<mat-option value="Address For Verification"> Address For Verification </mat-option>
															<mat-option value="AgencyType"> AgencyType </mat-option>
															<mat-option value="Already Owened Property"> Already Owened Property </mat-option>
															<mat-option value="Asset"> Asset </mat-option>
															<mat-option value="Authority Limit"> Authority Limit </mat-option>
															<mat-option value="Bank"> Bank </mat-option>
															<mat-option value="Bouncing Reason"> Bouncing Reason </mat-option>
															<mat-option value="Builder Approval Status"> Builder Approval Status </mat-option>
															<mat-option value="Business Asset"> Business Asset </mat-option>
															<mat-option value="Charges"> Charges </mat-option>
															<mat-option value="Cheque Favoring Category"> Cheque Favoring Category </mat-option>
															<mat-option value="ChqSts"> ChqSts </mat-option>
															<mat-option value="Clearance Name"> Clearance Name </mat-option>
															<mat-option value="CmbMstrType"> CmbMstrType </mat-option>
															<mat-option value="CMthd"> CMthd </mat-option>
															<mat-option value="Collected Through"> Collected Through </mat-option>
															<mat-option value="Consider For Obligation"> Consider For Obligation </mat-option>
															<mat-option value="Constitution"> Constitution </mat-option>
															<mat-option value="CreditCard Status"> CreditCard Status </mat-option>
															<mat-option value="Customer Category"> Customer Category </mat-option>
															<mat-option value="Customer Category - KYC"> Customer Category - KYC </mat-option>
															<mat-option value="Decline Reason"> Decline Reason </mat-option>
															<mat-option value="Deduction Head"> Deduction Head </mat-option>
															<mat-option value="deleted"> deleted </mat-option>
															<mat-option value="Demolition Risk"> Demolition Risk </mat-option>
															<mat-option value="Department"> Department </mat-option>
															<mat-option value="Deposited with Bank"> Deposited with Bank </mat-option>
															<mat-option value="Designation"> Designation </mat-option>
															<mat-option value="DeviationHead"> DeviationHead </mat-option>
															<mat-option value="Disbursal Result"> Disbursal Result </mat-option>
															<mat-option value="Disburse For"> Disburse For </mat-option>
															<mat-option value="Disbursment Method"> Disbursment Method </mat-option>
															<mat-option value="Disbursment Number"> Disbursment Number </mat-option>
															<mat-option value="Document Name"> Document Name </mat-option>
															<mat-option value="Document Type"> Document Type </mat-option>
															<mat-option value="Education Qualification"> Education Qualification </mat-option>
															<mat-option value="Expense Head"> Expense Head </mat-option>
															<mat-option value="Field Investigation"> Field Investigation </mat-option>
															<mat-option value="Foreclosure Reason"> Foreclosure Reason </mat-option>
															<mat-option value="Frequency"> Frequency </mat-option>
															<mat-option value="FType"> FType </mat-option>
															<mat-option value="How Are You Paid"> How Are You Paid </mat-option>
															<mat-option value="Income Calculation Method"> Income Calculation Method </mat-option>
															<mat-option value="Income Head"> Income Head </mat-option>
															<mat-option value="Income Source"> Income Source </mat-option>
															<mat-option value="Industry"> Industry </mat-option>
															<mat-option value="Industry Group"> Industry Group </mat-option>
															<mat-option value="InsuranceCollected"> InsuranceCollected </mat-option>
															<mat-option value="Interest Rate Type"> Interest Rate Type </mat-option>
															<mat-option value="Justification"> Justification </mat-option>
															<mat-option value="KYC Risk Categorization"> KYC Risk Categorization </mat-option>
															<mat-option value="Legal Document Collection Type"> Legal Document Collection Type </mat-option>
															<mat-option value="Loan Purpose"> Loan Purpose </mat-option>
															<mat-option value="Loan Type"> Loan Type </mat-option>
															<mat-option value="Login Query Result"> Login Query Result </mat-option>
															<mat-option value="LRStatus"> LRStatus </mat-option>
															<mat-option value="Mail Groups"> Mail Groups </mat-option>
															<mat-option value="NatureOfBusiness"> NatureOfBusiness </mat-option>
															<mat-option value="Ntionalty"> Ntionalty </mat-option>
															<mat-option value="Occ"> Occ </mat-option>
															<mat-option value="OTCPDD"> OTCPDD </mat-option>
															<mat-option value="Other"> Other </mat-option>
															<mat-option value="Own Of Property"> Own Of Property </mat-option>
															<mat-option value="PClernceStats"> PClernceStats </mat-option>
															<mat-option value="PddStatus"> PddStatus </mat-option>
															<mat-option value="Post Disbursment Charges"> Post Disbursment Charges </mat-option>
															<mat-option value="PostDisbStatus"> PostDisbStatus </mat-option>
															<mat-option value="Presentation Type"> Presentation Type </mat-option>
															<mat-option value="Profile"> Profile </mat-option>
															<mat-option value="Profile Segment"> Profile Segment </mat-option>
															<mat-option value="Profile Type"> Profile Type </mat-option>
															<mat-option value="Property Classification"> Property Classification </mat-option>
															<mat-option value="Property Intend For Self Occupation"> Property Intend For Self Occupation </mat-option>
															<mat-option value="Property Location"> Property Location </mat-option>
															<mat-option value="Property Nature of transaction"> Property Nature of transaction </mat-option>
															<mat-option value="Property Ownership"> Property Ownership </mat-option>
															<mat-option value="Property Quality"> Property Quality </mat-option>
															<mat-option value="Property Transaction"> Property Transaction </mat-option>
															<mat-option value="Property Type"> Property Type </mat-option>
															<mat-option value="Property Type_Technical"> Property Type_Technical </mat-option>
															<mat-option value="Proposed Property Owner"> Proposed Property Owner </mat-option>
															<mat-option value="PType"> PType </mat-option>
															<mat-option value="PurchFrom"> PurchFrom </mat-option>
															<mat-option value="QsnCat"> QsnCat </mat-option>
															<mat-option value="Qualification"> Qualification </mat-option>
															<mat-option value="Refrence Relation"> Refrence Relation </mat-option>
															<mat-option value="Region"> Region </mat-option>
															<mat-option value="Rel"> Rel </mat-option>
															<mat-option value="Religion"> Religion </mat-option>
															<mat-option value="Res"> Res </mat-option>
															<mat-option value="ResiType"> ResiType </mat-option>
															<mat-option value="Roof type"> Roof type </mat-option>
															<mat-option value="Sale Channel Category"> Sale Channel Category </mat-option>
															<mat-option value="SaleChannels"> SaleChannels </mat-option>
															<mat-option value="Scheme"> Scheme </mat-option>
															<mat-option value="Spread"> Spread </mat-option>
															<mat-option value="Status"> Status </mat-option>
															<mat-option value="Structural Soundness / Quality"> Structural Soundness / Quality </mat-option>
															<mat-option value="Structure Of Property"> Structure Of Property </mat-option>
															<mat-option value="Transaction Type"> Transaction Type </mat-option>
															<mat-option value="Transfer Reason"> Transfer Reason </mat-option>
															<mat-option value="UnderWriterStatus"> UnderWriterStatus </mat-option>
															<mat-option value="Unit"> Unit </mat-option>
															<mat-option value="Unit Type"> Unit Type </mat-option>
															<mat-option value="Uploded Document"> Uploded Document </mat-option>
															<mat-option value="User Role"> User Role </mat-option>
															<mat-option value="Verification Type"> Verification Type </mat-option>
															<mat-option value="Work Place"> Work Place </mat-option>
															
													</mat-select>
												  </mat-form-field>

                                    </div>

                                    <div class="form-group col-3 col-md-3">
                                        <mat-form-field>
                                            <input matInput placeholder="Value" autocomplete="off">
                                        </mat-form-field>

                                    </div>

                                    <div class="form-group col-2 col-md-2">
                                        <button id="kycadded" class="btn btn-success pull-right">Add</button>
                                    </div>
                                </div>
                                <!-- form-row -->
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.box -->
                <div class="box box-default box-role-mgn">
                    <h4 class="box-title">Dropdowns List  </h4>
                    <!-- /.box-header -->
                    <div class="box-body ">
						
 
						
						<!-- material table -->
						<div class="table-search-c">Search Dropdown:  
								<mat-form-field >
								  <input matInput type="text" (keyup)="doFilter($event.target.value)" >
								</mat-form-field>
							</div>  
							<div class="table-responsive">
							<table mat-table [dataSource]="mytask"  style="width: 100%;" matSort>
								<!-- Serial No. Column -->
							   <ng-container matColumnDef="sno">
								<th mat-header-cell *matHeaderCellDef mat-sort-header class="snumber" >S No. </th>
								<td mat-cell *matCellDef="let element"> {{element.sno}} </td>
								 </ng-container> 
								 <!-- Lead column  -->
								 <ng-container matColumnDef="lead">
								   <th mat-header-cell *matHeaderCellDef mat-sort-header>Type # </th>
								   <td mat-cell *matCellDef="let element"> {{element.type}} </td>
									</ng-container>   
									<!-- Application column -->
									<ng-container matColumnDef="application">
									   <th mat-header-cell *matHeaderCellDef mat-sort-header>Value # </th>
									   <td mat-cell *matCellDef="let element"> {{element.value}} </td>
										</ng-container> 
										<!-- Mytask column -->
										<ng-container matColumnDef="mytask">
										   <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
										   <td mat-cell *matCellDef="let element"> <span class="label label-warning">  {{element.status}} </span>  </td>
											</ng-container>     
											<!-- sections column -->
											<ng-container matColumnDef="sections">
											   <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
											   <td mat-cell *matCellDef="let element">
													<div class="action">
															<a href="" class="edit-icon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
															<a href="" class="delete-icon"> <i class="fa fa-trash-o" aria-hidden="true"></i></a>
														</div>

											   </td>
												</ng-container> 
												 
												<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
													<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
									</table>
								</div>

						 
						   <!-- Angular 8 pagination -->
						   <mat-paginator class="paginator" [pageSizeOptions]="[5,10]" showFirstLastButtons></mat-paginator>
							
                    

						<!-- material table ended -->
                        <!-- first tab -->
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col-md-8 -->
            <!--- new add rolle ended -->
        </div>
    </section>
    <!-- /.content -->

</div>
<!-- /.content-wrapper -->