<aside class="main-sidebar">
  <!-- sidebar-->
  <section class="sidebar">
    <ul class="sidebar-menu new-mnnu-main" data-widget="tree">
      <li class="treeview"> <a routerLinkActive="active" routerLink="/technical/technical-firing"><i class="mdi mdi-palette-advanced"></i><span>Technical Firing</span></a>
      </li>
      <li class="treeview"> <a routerLinkActive="active" routerLink="/technical/technical-report"><i class="mdi mdi-palette-advanced"></i><span>Technical Report</span></a>
      </li>
    </ul>
    <div class="open-btn1">
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">	<i class="fa fa-arrow-right" aria-hidden="true"></i>
        <i class="fa fa-arrow-left" aria-hidden="true"></i> 
      </a>
    </div>
  </section>
</aside>
