<div class="hold-transition bg-img login-page-bg" style="background-image: url(/assets/images/banner1.jpg)" data-overlay="1">
  <div class="container h-p100 for_mobile_view">
    <div class="row align-items-center justify-content-md-center h-p100">			
      <div class="col-12">
        <div class="row no-gutters justify-content-md-center">
          
          <div class="col-lg-12 col-md-12 col-12">
            <div class="content-top-agile content-top-agile-white h-p100">
              <img src="/assets/images/short-logo.png"  >
            </div>
            
          </div>
          <div class="col-lg-12 col-md-12 col-12">
              <h4 class="page-heada">Forgot Password</h4>			
            <div class="p-40 bg-white content-bottom h-p100 login-bg">
              <!--<h3 class="text-center mb-4 mt-0 heading_border">Account Login</h3>-->
              <form  class="form-element" [formGroup]="forget_form" (ngSubmit)="forgotPswrd()">
                 <div class="form-group">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-info border-info"><i class="ti-user"></i></span>
                    </div>
                    <input type="text" class="form-control pl-15" placeholder="Username/Email Addresss"   id="forget_user" [ngClass]="{ 'is-invalid': submitted28 && forget_control.forget_user.errors }" formControlName="forget_user" required>
                    
                  </div>
                  <span *ngIf="submitted28 && forget_control.forget_user.errors" class="error pdl-40">
                    <span *ngIf="forget_control.forget_user.errors.required">{{ requireerror }}</span>
                  </span>
                  
                </div>
                 
                <div class="form-group">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-info border-info"><i class="fa fa-building-o"></i></span>
                    </div>
                    <select class="form-control pl-15"  placeholder="Select Company" id="forget_contury" [ngClass]="{ 'is-invalid': submitted28 && forget_control.forget_contury.errors }" formControlName="forget_contury" required>
                      <option>Select Company</option>
                      <option>Company 1</option>
  
                    </select>
                    <span *ngIf="submitted28 && forget_control.forget_contury.errors" class="error pdl-40">
                        <span *ngIf="forget_control.forget_contury.errors.required">{{ requireerror }}</span>
                    </span>

  
                     
                  </div>
                 
  
                </div>
                <div class="clear"></div>
                  <div class="row">
                   
                  
                  <!-- /.col -->
                  <div class="col-12 text-center">
                    <button   class="btn btn-lg btn-primary btn-block margin-top-10 sign-btn">Reset Password</button>
                  </div>
                  <!-- /.col -->
                  <!-- /.col -->
                  <div class="col-12">
                      <div class="login-pwd text-center">
                       <a routerLinkActive="active" routerLink="/login" class="underline_txt"> Login Here</a><br>
                       </div>
                     </div>

                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  
  