<aside class="main-sidebar">
    <!-- sidebar-->
    <section class="sidebar">
    <h3>My Task </h3>
      <ul class="sidebar-menu new-mnnu-main" data-widget="tree">
        <li class="treeview"> <a routerLinkActive="active" routerLink="/mytask/app-queue"><i class="fa fa-leanpub"></i><span>Application Queue</span></a>
        </li>
        <li class="treeview"> <a routerLinkActive="active" routerLink="/mytask/task-list"><i class="fa fa-tasks"></i><span>My Task </span></a>
        </li>
      </ul>
      <div class="open-btn1">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">	<i class="fa fa-arrow-right" aria-hidden="true"></i>
          <i class="fa fa-arrow-left" aria-hidden="true"></i> 
        </a>
      </div>
    </section>
  </aside>
  