 .btn-rounded{    border-radius: 4px;}
        div.dataTables_wrapper div.dataTables_filter input{

    padding: 1px 5px !important;
    height: 19px;
    min-height: 27px;
        }
        div.dataTables_wrapper div.dataTables_filter{padding-top: 2px;}
        table.table  thead th {
    background-color: #1665b2 !important; 
    font-weight: normal;
    text-align: center;
    color: white;
}

        .action{}
        .action a{    display: inline-block;
    /* margin: 0 5px; */
    
    padding: 1px 4px;
    color: #868686;
    background: #2962FF;
    border-radius: 3px;
    margin: 0 1px;
    text-align: center;
    width: 22px;
    color: #fff;}
        .action a.view-icon{}
        .action a.view-document{    background-color: #515d70; }
        .action a.edit-icon{    background: #4fd2e0;}
        .action a.delete-icon{    background: #bd0000;}
        .action a{}

            .content-header {
            padding: 0;
            margin-bottom: 10px;
        }
        
        #roles_manager_wrapper .col-sm-12.col-md-6 {
            flex: 0 0 100%;
            max-width: 100%;
        }
        
        #roles_manager_wrapper #roles_manager_filter {
            text-align: left;
            float: left;
        }
        
        #roles_manager_wrapper #roles_manager_filter label {
            font-size: 0px;
        }
        
        #roles_manager_wrapper #roles_manager_filter label input {
            font-size: 12px;
        }
        
        #roles_manager_wrapper {}
        
        #roles_manager_filter {}
        
        #roles_manager_filter {}
        
        #roles_manager_filter {}
        
        .based-form .box-title {}
        
        .box-role-mgn .box-title {
            border: none;
        }
        
        .box-role-mgn .box-body {
            border-top: 1px solid #f1f1f1;
        }
        
        .box-role-mgn {}
        
        .box-role-mgn .box-body {
            padding: 6px 0;
        }
        
        .box-role-mgn .vtabs {
            width: 100%;
        }
        
        .box-role-mgn {}
        
        .icheckbox_minimal-blue.disabled {
            background-position: 0px 0;
        }
        
        .inline-box1 {
            margin: 0;
        }
        
        .inline-box1 label {
            width: initial !important;
        }
        
        .inline-box1 label .icheckbox {}
        
        .inline-box1 label .icheckbox {}
        
        .inline-box1 label {}
        
        .inline-box1 label {}
        
        .inline-box1 label {}
        
        .icheckbox_minimal-blue,
        .iradio_minimal-blue {
            margin-right: 7px !important;
            margin-left: 14px !important;
            margin-top: -1px !important;
        }
        
        .cuto-alert {
            border-left: 6px solid #F04748 !important;
            background-color: #ffcd75 !important;
            padding: 10px;
            position: relative;
            border: none;
            border-radius: 0;
            color: #2f2f2f !important;
            line-height: 150%;
            font-size: 15px;
            padding: 12px;
        }
        
        .cuto-alert a {}
        
        .rol-manager-box {}
        
        .rol-manager-box {}
        
        .rol-manager-box .box-body {
            padding: 10px 0;}
            .ncust-btn{    margin: 5px 0px;}

             .popup-roles{       height:74vh;
    overflow: auto;
    
    box-sizing: border-box;
    overflow-x: hidden;}
.tabl-screen1{width: 100%;}
.icom-new table{width: 100%}
.icom-new table tr{width: 100%;border-bottom: 1px solid #ccc;}
.icom-new table tr:last-child {/*border-bottom: none; */}
.icom-new table tr td{       padding: 2px 20px;
    border-right: 1px solid #ccc;}
.icom-new table tr td:first-child{text-align: right; width: 250px; padding-right: 20px;}

.icom-new table tr td:last-child{    text-align: left;
    border-left: 1px solid #ccc;
    border-right: none;
    padding-left: 20px;}
.icom-new table tr td input[type="text"], .icom-new table tr td input[type="date"], .icom-new table tr td select{border: none;
    width: 80%;
    padding: 6px 9px;
    margin: 4px;}
.icom-new{}

.icom-new ::-webkit-input-placeholder { /* Edge */
  color: #d4d4d4;
}

.icom-new :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #d4d4d4;
}

.icom-new ::placeholder {
  color: #d4d4d4;
}
.icom-new tr th{    text-align: center;
    background:#1f5386;
    color: #fff;
    padding: 5px;
    font-weight: bold;
    font-size: 14px;}
.icomnew-n-new{    padding: 10px;
    width: 100%;
    padding-bottom: 21px;}
.icomnew-n-new .col-md-6, .icomnew-n-new .col-md-12{padding-right: 20px !important;
    padding-left: 20px !important;}
.icome-new-tab{}
.icome-new-tab{}
.icome-new-tab td{    background: #f1f1f1;    border: 1px solid #ccc;     font-weight: bold;    font-size: 16px;}
.icome-new-tab td:first-child{    text-align: left !important;
    padding-left: 20px;
}
.icome-new-tab td:last-child{    text-align: right !important;
    padding-right: 20px;
}
.icome-new-tab td input[type="text"]{}
.icome-new-tab{}
.Sub-Profile1{display: none;}
.new-width-3{}
.new-width-3{}


 

 .select-wrapper {
    position: relative; 
}

.select-wrapper:after {
        font-family: FontAwesome;
    content: '\f107';
    font-size: 17px;
    position: absolute;
    top: 9px;
    right: 20px;
    color: #ccc;
    pointer-events: none;
}

select::-ms-expand {
  display: none;
}

.varified-color {
    font-size: 19px;
    color: #2dbb01;
}

.tabl-boxing .nav-tabs li a.add_button{    background: none;
    color: #3789d7;}



.main-header{background: #fff;}
.dsa-form1{}
.dsa-form1{}
.dsa-form1{}
.dsa-form1{}
.upload-imput-tyle input.form-control, .upload-imput-tyle select.form-control{  /*  height: 30px !important; min-height: 30px; */}
.upload-imput-tyle .pl{padding-right:5px; padding-left:5px}
.upload-imput-tyle{}
.upload-imput-tyle{}
.mybasicform_blk .box .custom-select button.selectpicker , .mybasicform_blk .box.custom-select.bootstrap-select .btn:focus { background:none;    border: none !important; outline: none !important;     padding-left: 0;}
.custom-select{}
.custom-select{} 
.mybasicform_blk .box .custom-select.btn-group .btn .filter-option{opacity: 0}
.mybasicform_blk .box .has-select .custom-select.btn-group .btn .filter-option{opacity: 1}
.select-wrapper:after{display: none;}
.mybasicform_blk .form-group .datepicker label{   padding: 0 !important;}
.mybasicform_blk .form-group .input-group label{   padding: 0 !important;}
.dsa-list-button .col{height: 50px; }
.datepicker-dropdown{    z-index: 99999999999999999 !important;}
.mybasicform_blk .btn-group.open .dropdown-toggle{    box-shadow: none;}
.mybasicform_blk .form-group .input-group .custom-file label{    padding: 7px !important;}
.form-group .input-group .custom-file label{white-space: nowrap;    overflow: hidden;}
.thum-pic-hms {  display: inline-block; }
.thum-pic-hms img{    margin: 3px 0;
    width: inherit;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 1px;
    max-height: 33px;
    max-width: 100%;}
.verified-checked{visibility: hidden;  transition: all ease .5s; opacity: 0;     padding-left: 5px;}
.verified-checked.verified-done{display: inline-block; transition: all ease .5s; visibility: visible; opacity: 1; transition-delay: 1s; }
.input-file-lable{    padding: 10px 0;    display: inline-block;}
.app-status1{font-weight: bold !important;    color: #1a89f7;}
.full-wapper{    margin-left: 0;}
.mybasicform_blk .box .form-group{}
.mdi-toggle-switch-off:before{content: "\F522"  !important;  font-family: "Material Design Icons" !important;}
.sub-menu-left{    margin-top: 40px;}
.sub-menu-left{}
.sub-menu-left{}
.sub-menu-left{}
.sub-menu-left ul{    padding: 0 0 0px 0px;}
.sub-menu-left li {    list-style: none;}
.sub-menu-left li { margin: 5px 0;}
.sub-menu-left li a i.mdi{    vertical-align: middle;
     
        position: absolute;
    left: 15px;
}
.sub-menu-left li a{    font-size: 15px;
    color: #000;
    opacity: .8;
    position: relative;
   
    display: block;
    padding: 7px 0;
        padding-left: 42px;}
.sub-menu-left li.active a{}
.sub-menu-left h3{    font-size: 15px;
    padding: 8px 14px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
    padding-top: 30px;
}
.sub-menu-left {
       background: #fff;
    width: 200px;
    margin-top: 40px;
    float: left;
    position: fixed;
    top: 0;
    height: 100%;
        z-index: 99999
}
.sub-menu-left li.active >  a{    background: #1e6dbb;
    opacity: 1;
    color: #fff;}
.sub-menu-left li.active > a  > i:before {
    /* content: "\F521" !important;*/
}
.sub-menu-left li ul a{   }
.sub-menu-left li ul a i{    font-size: 9px;
    color: #adadad;
    vertical-align: middle;
    margin-top: -1px;
    padding-right: 10px;}
.sub-menu-left li ul{display: none;}
.sub-menu-left li.active > ul{display: block;}
.sub-menu-left li:hover > ul{display: block;}
.mybasicform_blk .ichack-input label{display: inline-block !important;}
.line{border-right:1px solid #efefef;}
.dataTables_wrapper{}
div.dataTables_wrapper div.dataTables_length select {    padding: 3px 7px 0 !important;}
div.dataTables_wrapper div.dataTables_length select{      height: 32px !important;
    padding: 7px 8px !important;
    margin: 0 5px !important;
    min-height: initial !important;
    width: 64px !important;}
.permission-btton {    position: fixed;
    bottom: 0;
    width: 84%;
    width: 100%;
    background: #ccc;
    left: 200px;
    z-index: 0;
    width: calc(100% - 200px);

}
.permission-btton .form-group{    margin-bottom: 0;}
.permission-btton .form-group .tab-button{margin: 0;    padding: 10px;}
.modual-persmission-main{margin-bottom: 37px;}
.extra_bold{font-weight: bold !important}
.mybasicform_blk .form-group label.extra_bold{font-weight: bold !important}
.flex49{flex: 0 0 49%;}
.task-icon{    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    border-radius: 50%;
    color: rgb(255, 255, 255) !important;
    background-color: rgb(52, 147, 179) !important;
    border-color: rgb(52, 147, 179);}
.task-icon{}
.mybasicform_blk .box .task-stsu button{    background-color: #F99601 !important;    color: #fff !important;    padding-left: 10px !important;}
.heading-task-upload{}
.heading-task-upload{    margin-top: 0 !important;
    font-weight: bold !important;}
.heading-task-upload{}
.heading-task-upload{}
.task-upload-imput-tyle{ margin-top: 15px; }
.task-upload-imput-tyle .form-group{margin-bottom: 0px;}
td .label{font-size: 75%;}
.upload-tabl-action{}
.upload-tabl-action a{    margin: 0 6px;}
.upload-tabl-action{}
.upload-btn{color: #f97706;}
.upload-tabl-action a img{    max-height: 42px;    border: 1px solid #ccc;
    border-radius: 2px;}
.thum-pic-hms1 img.thumb{    margin: 0;}
.thum-pic-hms1{margin: 10px 0;
    float: left;
    width: 100%;
}
.sepect-line{}
.sepect-line{}
.sepect-line{}
.sepect-line:before {
    content: "";
    height: 100%;
    width: 1px;
    background: #ececec;
    position: absolute;
    left: 0px;
}
.login-page.h-p100{min-height:700px !important;}
.action .fa{padding: 0px 0px;}
.error{color: red; font-size: 12px; clear: both;     float: left;    width: 100%;     margin-top: 3px;}
.mat-form-field{width: 100%;}
.mat-form-field-appearance-legacy .mat-form-field-underline{background-color:#d2d2d2}
.cdk-overlay-container{    z-index: 9999999;}
.marin-left{}
.w100{width: 100%}
.mat-placeholder-required{color: red;}
.add_button_blk{width: 100%;}
.mat-form-field-label-wrapper{    top: -1.2em !important;}
.mat-form-field-appearance-legacy .mat-form-field-wrapper{padding-bottom:0px !important}
.mat-form-field-appearance-legacy .mat-form-field-underline{bottom: 0px !important}
.disblock-1{display: block !important}
.login-page-bg{    height: 100vh !important;}
.new-mnnu-main li a i.fa{font-size: 19px;}
.main-sidebar .sidebar h3{    font-size: 14px;
    font-weight: bold;
    height: inherit;
    line-height: initial;
    padding-left: 12px;
    margin-bottom: 13px;}
.mat-checkbox-checked svg.mat-checkbox-checkmark{display: none;} 
 .mat-checkbox-background:before {
    background: url(../images/blue.png) no-repeat; 
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 19px !important;
    height: 19px;
    border: none;
    cursor: pointer;
    position: absolute;
    background-position: 1px 0;
    
    /* background-size: 81%; */
    box-sizing: border-box;
} 
.mat-checkbox.mat-accent .mat-checkbox-inner-container{    height: 19px;     width: 19px;}
.mat-checkbox.mat-accent .mat-checkbox-frame{border: none;}
.mat-checkbox-checked.mat-accent .mat-checkbox-background:before, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background:before {
    background-position: -40px 0;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color:transparent !important;
}

.verfied-icon {
    width: 30px;
    margin-right: 9px;
    margin-top: 7px;
}

.flex63{    flex: 1 1 auto;
    width: 60%;
    margin-bottom: 0;}
.opt-entery1{    display: flex;
    width: 54%;}
.opt-entery1 .mat-form-field {      max-width: 35px;
    flex: 1 1 35px;
    width: 35px;
    margin-right: 6px;
    text-align: center;
    border: 1px solid #ccc;
    margin-top: 7px;}
.opt-entery1  .mat-form-field-infix{border-top:0px;}
.otp_button_blk .btn.btn-outline-primary{margin-left: 15px;}
.opt-entery1 .mat-form-field .mat-form-field-underline{max-width: 100%; }
.max-width-150 .date-fields{max-width: 150px;}
.max-width-165.date-fields{max-width: 165px;}
.max-width-250.date-fields{max-width: 250px;}
.pdl-40{    padding-left: 40px;}
.modal-dialog{    border-radius: 4px;     border: 1px solid #9ab7f5;}
.close:focus{    outline: none;}
textarea.mat-input-element{    line-height: 150%;}
 
.login-pwd{    color: #8c8c8c;
    margin-top: 22px;
     }
a{cursor: pointer;}
.login-pwd a{    color: #8c8c8c;}
.page-heada{      clear: both;
    float: left;
    width: 100%; 
    text-align: center; 
    z-index: 9999;
    position: relative;
    font-weight: 500;
    padding: 26px 0 17px 0;
    box-sizing: border-box;}
a.btn-primary:not([href]):not([tabindex]){color: #fff;}
a.btn-success:not([href]):not([tabindex]){color: #fff;}
a.btn-success:not([href]):not([tabindex]){color: #fff;}
a.btn-danger:not([href]):not([tabindex]){color: #fff;}
 
.mybasicform_blk .form-group .input-group label.choose-files2{    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
    border: 1px solid #cccc;
    padding: 9px 10px !important;
    /* min-height: 4.573rem; */
    margin: 0;
    height: 37px;}
#upload-docment{display: none} 
.income_tab.form-element td mat-form-field{    width: 78%;     float: right;}
.income_tab.form-element .mat-form-field-infix{    padding: 0;     margin: 0; border-top: 0;}
.income_tab.form-element .mat-form-field-infix input{border: none;     background: rgba(173, 173, 173, 0.08);}
.income_tab.form-element .mat-form-field-underline{display: none;}
.income_tab .mat-form-field{    line-height: inherit;}
.income_tab  table .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    display: none !important;
}
.insuracne-title{     padding: 6px 13px;
    font-size: 16px;
   
    position: relative;
    
    background: #eff4ff;}
.verticle-line{border-bottom: 1px solid #ccc;
    display: block;
    width: 100%;
    margin: 10px 0 0 0;}
.max-width-120.date-fields{max-width:120px;} 
th.mat-header-cell {
    text-align: left;
    background-color: #1665b2 !important;
    font-weight: normal;
    text-align: center;
    color: white;
    border-right: 1px solid rgba(191, 191, 191, 0.35);
}
td.mat-cell, td.mat-footer-cell, th.mat-header-cell{    padding:8px 16px !important;}
.table-search-c mat-form-field {    width: 150px;  }
.table-search-c {    margin: 0 0 10px 0;}
td.mat-cell {
    border-right: 1px solid rgba(191, 191, 191, 0.14);
}
.inte-box-title1 {
    padding: 6px 35px;
    font-size: 16px;
    color: #535353;
    position: relative;
    margin: 0 -36px 14px;
    background: #eff4ff;
    box-sizing: content-box;
}
.upload-down-thum-btn{    display: inline-block;
    vertical-align: middle;
    margin: 9px;}
.upload-down-thum-btn i{    margin-right: 11px;}
.upload-down-thum-btn i.fa-check-circle{color: #13a204;} 
.permission-table{}
.permission-table td{border: none !important;
    padding: 8px 0 !important;
    color: #011f3c;}
    .permission-table tr td:nth-child(even){        width: 20%;
        text-align: left;
        padding-left: 2% !important;
        padding-right: 2% !important;}
    .permission-table tr td:nth-child(odd){}
.permission-table tr{}
.permission-table{}
.permission-table h4{}
.permission-table .form-row{margin-bottom: 15px;}
.permission-table .form-row .mat-form-field-infix{padding-top: 0;    border-top: 0;}
.mrt-20{margin-top: 20px;}
.mat-select-panel{    margin-top: 11px;}
tr.mat-header-row {
    height: initial !important;
}
.snumber{    width: 78px !important;}
.mat-select-panel .mat-optgroup-label, .mat-select-panel .mat-option{    height:42.66px !important ;}
.dwn-btns{background: #16b273 ;
    border: 1px solid #1caf74;}
.selecteddrown{color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;}
    .margine-left5{    margin-right: 7px;}
    .hidde-labled.mat-form-field-should-float .mat-form-field-label {display: none !important}
    .permission-popup{}
    .intialiconc{    text-align: left;
        text-transform: initial;}
        .intialiconc stong{    font-weight: bold !important;}
.view-dic-chec{display: block;
    vertical-align: text-bottom;
    color: #1665b2;}