<aside class="main-sidebar">
	<!-- sidebar-->
	<section class="sidebar">
		<ul class="sidebar-menu new-mnnu-main" data-widget="tree">
			<li class="treeview"> <a  routerLinkActive="active" routerLink="/loan_sanction/cvp-verification" ><i class="mdi mdi-application"></i><span>CPV/RCU Verification</span></a>
			</li>
			<li class="treeview"> <a routerLinkActive="active" routerLink="/loan_sanction/pd-report" ><i class="mdi mdi-drawing"></i><span>PD Report</span></a>
			</li>
			<li class="treeview"> <a routerLinkActive="active" routerLink="/loan_sanction/loan-appraisal" ><i class="mdi mdi-hand-pointing-right"></i><span>Loan Appraisal</span></a>
			</li>
			<li class="treeview"> <a routerLinkActive="active" routerLink="/loan_sanction/underwriting" ><i class="mdi mdi-food-croissant"></i><span>Underwriting </span></a>
			</li>
			<li class="treeview"> <a routerLinkActive="active" routerLink="/loan_sanction/guarantor"><i class="mdi mdi-umbraco"></i><span>Guarantor</span></a>
			</li>
			<li class="treeview"> <a routerLinkActive="active" routerLink="/loan_sanction/hunter" ><i class="mdi mdi-animation"></i><span>Hunter</span></a>
			</li>
			<li class="treeview"> <a routerLinkActive="active" routerLink="/loan_sanction//bureau-details" ><i class="mdi mdi-airplay	"></i><span>Bureau</span></a>
			</li>
			<li class="treeview"> <a routerLinkActive="active" routerLink="/loan_sanction/insurance-details" ><i class="mdi mdi-account-convert"></i><span>Insurance</span></a>
			</li>
			<li class="treeview"> <a   ><i class="mdi mdi-checkbox-multiple-marked-circle"></i><span>Letters</span></a>
			</li>
		</ul>
		<div class="open-btn1">
			<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button"> <i class="fa fa-arrow-right" aria-hidden="true"></i>
				<i class="fa fa-arrow-left" aria-hidden="true"></i> 
			</a>
		</div>
	</section>
</aside>