<aside class="main-sidebar">
    <!-- sidebar-->
    <section class="sidebar">
        <h3>Main Menu</h3>
        <ul class="sidebar-menu tree new-mnnu-main" data-widget="tree">
            <li class="treeview active"> <a routerLinkActive="active" routerLink="/master/manage_user"><i class="mdi mdi-application"></i><span>User Management </span> <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span> </a>
                <ul class="treeview-menu">
                    
                    <li><a routerLinkActive="active" routerLink="/master/add_user"><i class="mdi mdi-toggle-switch-off"></i>Add User</a>
                    </li>
                    <li><a routerLinkActive="active" routerLink="/master/manage_user"><i class="mdi mdi-toggle-switch-off"></i>Manage Users</a>
                    </li>
                </ul>
            </li>
            <li class="treeview "> <a routerLinkActive="active" routerLink="/master/manage_role"><i class="mdi mdi-application"></i><span>Role Management </span> <span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i>
                </span> </a>
                <ul class="treeview-menu">
                    <li><a routerLinkActive="active" routerLink="/master/manage_role"><i class="mdi mdi-toggle-switch-off"></i>Manage Role</a>
                    </li>
                    <li><a routerLinkActive="active" routerLink="/master/manage_permission"><i class="mdi mdi-toggle-switch-off"></i>Manage Permission</a>
                    </li>
                </ul>
            </li>
            <li class="treeview"> <a routerLinkActive="active" routerLink="/master/manage_employee"><i class="mdi mdi-application"></i><span>Employee </span> <span class="pull-right-container">
                <i class="fa fa-angle-right pull-right"></i>
              </span> </a>
                  <ul class="treeview-menu">
                      <li><a routerLinkActive="active" routerLink="/master/add_employee"><i class="mdi mdi-toggle-switch-off"></i>Add Employee</a>
                      </li>
                      <li><a routerLinkActive="active" routerLink="/master/manage_employee"><i class="mdi mdi-toggle-switch-off"></i>Manage Employee</a>
                      </li>
                      
                  </ul>
              </li>

            <li class="treeview"> <a routerLinkActive="active" routerLink="/master/manage_dsa"><i class="mdi mdi-application"></i><span>DSA Management </span> <span class="pull-right-container">
                      <i class="fa fa-angle-right pull-right"></i>
                    </span> </a>
                <ul class="treeview-menu">
                    <li><a routerLinkActive="active" routerLink="/master/add_dsa"><i class="mdi mdi-toggle-switch-off"></i>Add DSA</a>
                    </li>
                    <li><a routerLinkActive="active" routerLink="/master/manage_dsa"><i class="mdi mdi-toggle-switch-off"></i>Manage DSA</a>
                    </li>
                </ul>
            </li>

            <li class="treeview"> <a routerLinkActive="active" routerLink="/master/manage_branch"><i class="mdi mdi-application"></i><span>Branch Master </span> <span class="pull-right-container">
            <i class="fa fa-angle-right pull-right"></i>
          </span> </a>
                <ul class="treeview-menu">
                    <li><a routerLinkActive="active" routerLink="/master/add_branch"><i class="mdi mdi-toggle-switch-off"></i>Add Branch</a>
                    </li>
                    <li><a routerLinkActive="active" routerLink="/master/manage_branch"><i class="mdi mdi-toggle-switch-off"></i>Manage Branch</a>
                    </li>
                </ul>
            </li>

            <li class="treeview"> <a routerLinkActive="active" routerLink="/master/manage_agency"><i class="mdi mdi-application"></i><span>Manage Agency </span> <span class="pull-right-container">
          <i class="fa fa-angle-right pull-right"></i>
        </span> </a>
                <ul class="treeview-menu">
                    <li><a routerLinkActive="active" routerLink="/master/add_agency"><i class="mdi mdi-toggle-switch-off"></i>Add Agency</a>
                    </li>
                    <li><a routerLinkActive="active" routerLink="/master/manage_agency"><i class="mdi mdi-toggle-switch-off"></i>Manage Agency</a>
                    </li>
                </ul>
            </li>

            <li class="treeview"> <a routerLinkActive="active" routerLink="/master/manage_dropdown"><i class="mdi mdi-application"></i><span>Manage Common </span> <span class="pull-right-container">
                    <i class="fa fa-angle-right pull-right"></i>
                  </span> </a>
                           
                      </li>


            <li class="treeview"> <a routerLinkActive="active" routerLink="/master/manage_product"><i class="mdi mdi-application"></i><span>Manage product </span> <span class="pull-right-container">
                <i class="fa fa-angle-right pull-right"></i>
              </span> </a>
                      <ul class="treeview-menu">
                          <li><a routerLinkActive="active" routerLink="/master/add_product"><i class="mdi mdi-toggle-switch-off"></i>Add product</a>
                          </li>
                          <li><a routerLinkActive="active" routerLink="/master/manage_product"><i class="mdi mdi-toggle-switch-off"></i>Manage product</a>
                          </li>
                      </ul>
                  </li>


                  <li class="treeview"> <a routerLinkActive="active" routerLink="/master/manage_ltv_lcr_insr_foir"><i class="mdi mdi-application"></i><span>Manage FOIR </span> <span class="pull-right-container">
                        <i class="fa fa-angle-right pull-right"></i>
                      </span> </a>
                              <ul class="treeview-menu">
                                  <li><a routerLinkActive="active" routerLink="/master/add_ltv_lcr_insr_foir"><i class="mdi mdi-toggle-switch-off"></i>Add FOIR</a>
                                  </li>
                                  <li><a routerLinkActive="active" routerLink="/master/manage_ltv_lcr_insr_foir"><i class="mdi mdi-toggle-switch-off"></i>Manage product</a>
                                  </li>
                              </ul>
                          </li>

                          <li class="treeview"> <a routerLinkActive="active" routerLink="/master/manage_kyc_category"><i class="mdi mdi-application"></i><span>Manage KYC Category </span> <span class="pull-right-container">
                                <i class="fa fa-angle-right pull-right"></i>
                              </span> </a>
                                      <ul class="treeview-menu">
                                          <li><a routerLinkActive="active" routerLink="/master/manage_kyc_category"><i class="mdi mdi-toggle-switch-off"></i>Add KYC Category </a>
                                          </li>
                                          <li><a routerLinkActive="active" routerLink="/master/add_kyc_category"><i class="mdi mdi-toggle-switch-off"></i>Manage KYC Category </a>
                                          </li>
                                      </ul>
                                  </li>




        </ul>
        <div class="open-btn1">
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button"> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
        </div>
    </section>
</aside>