<div class="hold-transition bg-img login-page-bg" style="background-image: url(/assets/images/banner1.jpg)" data-overlay="1">
<div class="container h-p100 for_mobile_view">
	<div class="row align-items-center justify-content-md-center h-p100">			
		<div class="col-12">
			<div class="row no-gutters justify-content-md-center">
				
				<div class="col-lg-12 col-md-12 col-12">
					<div class="content-top-agile content-top-agile-white h-p100">
						<img src="http://demosl56-01.rvsolutions.in/rvinternal/dmi/angular//assets/images/short-logo.png"  >
						 
					</div>				
				</div>
				<div class="col-lg-12 col-md-12 col-12">
						<h4 class="page-heada">Login</h4>
					<div class="p-40 bg-white content-bottom h-p100 login-bg">
						<!--<h3 class="text-center mb-4 mt-0 heading_border">Account Login</h3>-->
						<form    class="form-element" [formGroup]="main_login" (ngSubmit)="onSubmit27()">
						 	<div class="form-group">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text bg-info border-info"><i class="ti-user"></i></span>
									</div>
									<input type="text" class="form-control pl-15" placeholder="Username"   id="Ba_Username" [ngClass]="{ 'is-invalid': submitted27 && main_login_control.Ba_Username.errors }" formControlName="Ba_Username" required>
									
								</div>
								<span *ngIf="submitted27 && main_login_control.Ba_Username.errors" class="error pdl-40">
									<span *ngIf="main_login_control.Ba_Username.errors.required">{{ requireerror }}</span>
							</span>
								
							</div>
							<div class="form-group">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text bg-info border-info"><i class="ti-lock"></i></span>
									</div>
									<input type="password" class="form-control pl-15" placeholder="Password" id="Ba_password" [ngClass]="{ 'is-invalid': submitted27 && main_login_control.Ba_password.errors }" formControlName="Ba_password" required>
								</div>
								<span *ngIf="submitted27 && main_login_control.Ba_password.errors" class="error pdl-40">
									<span *ngIf="main_login_control.Ba_password.errors.required">{{ requireerror }}</span>
							</span>

							</div>
							<div class="form-group">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text bg-info border-info"><i class="fa fa-building-o"></i></span>
									</div>
									<select class="form-control pl-15"  placeholder="Select Company" required>
										<option>{{Ba_company.companySlug}}</option>

									</select>

									 
								</div>
								<!-- <span *ngIf="submitted27 && main_login_control.Ba_company.errors" class="error pdl-40">
									<span *ngIf="main_login_control.Ba_company.errors.required">{{ requireerror }}</span>
							</span> -->
							<span *ngIf="submitted27 && message" class="error pdl-40">
									<span *ngIf="message">{{ message }}</span>
							</span>

							</div>
							<recaptcha
          [formControl]="myRecaptcha"
        ></recaptcha>
							<div class="clear"></div>
							  <div class="row">
								<div class="col-6">
								 <!--  <div class="checkbox">
									<input type="checkbox" id="basic_checkbox_1" >
									<label for="basic_checkbox_1">Remember Me</label>
								  </div>-->
								</div>
								<!-- /.col -->
								<div class="col-6">
								 <div class="fog-pwd text-right">
									<a routerLinkActive="active" routerLink="/forget_password" class="underline_txt"><i class="ion ion-locked"></i> Forgot Password?</a><br>
								  </div>
								</div>
								<!-- /.col -->
								<div class="col-12 text-center">
								  <button   class="btn btn-lg btn-primary btn-block margin-top-10 sign-btn">SIGN IN</button>
								</div>
								<!-- /.col -->
							  </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

