<app-master-sidebar></app-master-sidebar>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!--- middle content ------>
    <!-- Main content -->
    <section class="content based-form">
      <div id="myWizard" class="mybasicform_blk">
        <!--- new add rolle -->
        <div class="col-md-12">
            <div class="content-header">
                <div class="align-items-center">
                  <div class="mr-auto">
                    <h3 class="page-title">Role Management</h3>
                    <div class="d-inline-block align-items-center">
                      <nav>
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a>
                          </li>
                          <li class="breadcrumb-item active" aria-current="page">Role Management</li>
                        </ol>
                      </nav>
                    </div>
                    <div class="pull-right">
                        <button routerLink="/master/manage_permission"  class="btn btn-rounded btn-info mb-5 ncust-btn">Manage Permission </button> 
                       
                    </div>
                  </div>
                </div>
              </div>


           
          <!-- Basic Forms -->
          <div class="box">
            <h4 class="box-title">Assign Role</h4> 
            <!-- /.box-header -->
            <form [formGroup]="add_role" (ngSubmit)="onSubmitrole()">
              <div class="box-body">
                <div class="first_blk_line form-element">
                    <div class="form-row">
                        <div class="form-group col-2 col-md-2">
                            <mat-form-field>
                                <input matInput specialIsAlphaNumeric placeholder="Role Name" [ngClass]="{ 'is-invalid': submittedrole && add_role_control.add_role_name.errors }" formControlName="add_role_name" id="add_role_name" autocomplete="off" required >
                              </mat-form-field>
                             	<span *ngIf="submittedrole && add_role_control.add_role_name.errors" class="error">
                                  <span *ngIf="add_role_control.add_role_name.errors.required">{{ requireerror }}</span>
                              </span>

      
                         
                        </div>
                       <!--<div class="form-group col-2 col-md-2">
                          <div class="select-wrapper inner_width_select">
                              <mat-form-field  >
                                  <mat-label>Copy Role From</mat-label>
                                  <mat-select [ngClass]="{ 'is-invalid': submittedrole && add_role_control.role_copy_from.errors }" formControlName="role_copy_from" id="role_copy_from" autocomplete="off">
                                    <mat-option>None</mat-option>
                                    <mat-option value="option1">Role 1</mat-option>
                                    <mat-option value="option2">Role 2</mat-option>
                                    <mat-option value="option3">Role 3</mat-option>
                                  </mat-select>
                                </mat-form-field> 
                             
                          </div>
                        </div>-->
                        <div class="form-group col-2 col-md-2">
                          <button  id="kycadded" class="btn btn-success pull-right">Add Role</button>
                        </div>
                      </div>

                  <!-- form-row -->
                </div>
              </div>
            </form>
          </div>
          <!-- /.box -->
          <div class="box box-default box-role-mgn">
            <h4 class="box-title">Role List  </h4>
            <!-- /.box-header -->
            <div class="box-body ">
              <!-- Nav tabs -->
              <div class="tabl-screen1">
                <table id="example" class="table table-striped " style="width:100%">
                  <thead>
                    <tr>
                      <th width="50">S. No</th>
                      <th>Role Name</th>
                      <th>Created Date</th>
                      <th>Role Assined to</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Role 1</td>
                      <td>15-Jan-2019</td>
                      <td>215 User</td>
                      <td> <span class="label label-warning">in-Active</span>
                      </td>
                      <td>
                        <div class="action">
                          <a href="" class="view-icon"> <i class="fa fa-universal-access" aria-hidden="true" title="Manage Permission"></i>
                          </a> <a href="" class="edit-icon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                          <a href="" class="delete-icon"> <i class="fa fa-trash-o" aria-hidden="true"></i>
                          </a>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>Role 1</td>
                      <td>15-Jan-2019</td>
                      <td>215 User</td>
                      <td> <span class="label label-success">Active</span>
                      </td>
                      <td>
                        <div class="action">
                            <a href="" class="view-icon"> <i class="fa fa-universal-access" aria-hidden="true" title="Manage Permission"></i>
                            </a> <a href="" class="edit-icon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                          <a href="" class="delete-icon"> <i class="fa fa-trash-o" aria-hidden="true"></i>
                          </a>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                </table>
              </div>
              <!-- first tab -->
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col-md-12 -->
        <!--- new add rolle ended -->
        </div>
    </section>
    <!-- /.content -->
    
  </div>
  <!-- /.content-wrapper -->
