<aside class="main-sidebar">
	<!-- sidebar-->
	<section class="sidebar">
		<ul class="sidebar-menu new-mnnu-main" data-widget="tree">
			<li class="treeview"><a routerLinkActive="active" routerLink="/login_form/loan-info"><i class="mdi mdi-cash"></i><span>Loan Information</span></a>
			</li>
			<li class="treeview"> <a class="" routerLinkActive="active" routerLink="/login_form/persnl-details"><i class="mdi mdi-account-check"></i><span>Personal</span></a>
			</li>
			<li class="treeview"> <a class="" routerLinkActive="active" routerLink="/login_form/dupe-verific" ><i class="mdi mdi-marker-check"></i><span>De-Dupe Verification</span></a>
			</li>
			<li class="treeview"> <a routerLinkActive="active" routerLink="/login_form/emp-details"><i class="mdi mdi-account-alert"></i><span>Employment</span></a>
			</li>
			<li class="treeview"> <a routerLinkActive="active" routerLink="/login_form/income-details"><i class="mdi mdi-cash-multiple"></i><span>Income</span></a>
			</li>
			<li class="treeview"> <a routerLinkActive="active" routerLink="/login_form/bank-details"><i class="mdi mdi-bank"></i><span>Bank Details</span></a>
			</li>
			<li class="treeview"> <a routerLinkActive="active" routerLink="/login_form/assets"><i class="mdi mdi-book-open"></i><span>Liability & Asset</span></a>
			</li>
			<li class="treeview"> <a routerLinkActive="active" routerLink="/login_form/ref-details"><i class="mdi mdi-home-modern "></i><span>Reference</span></a>
			</li>
			<li class="treeview Property_txt"> <a routerLinkActive="active" routerLink="/login_form/prop-details"><i class="mdi mdi-home"></i><span>Property</span></a>
			</li>
			<li class="treeview"> <a routerLinkActive="active" routerLink="/login_form/loginfee"><i class="mdi mdi-account"></i><span>Login Fee</span></a>
			</li>
			<li class="treeview"> <a routerLinkActive="active" routerLink="/login_form/document-checklist"><i class="mdi mdi-playlist-check"></i><span>Document Checklist</span></a>
			</li>
			 
		</ul>
		<div class="open-btn1">
			<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button"> <i class="fa fa-arrow-right" aria-hidden="true"></i>
				<i class="fa fa-arrow-left" aria-hidden="true"></i> 
			</a>
		</div>
	</section>
</aside>
